
*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	background-image: url(../images/255f6890438146aa7de26a12e25045be.png);
	background-repeat: no-repeat;
	background-size: 105%;
	background-position-x: center;
}

html{
	min-height: 100%;
}

/*Шапка сайта*/

header{
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	background:#fff;
	width: 100%;
	height: 70px;
	z-index: 8;
}

.logo{
	margin: 15px 0px 15px 140px;
	float: left;
}

.main_menu{
	display: flex;
	font-size: 14px;
	float: right;
	margin: 26px 370px 23px 0px;
	font-family: Montserrat;
	font-style: normal;
	
}

.main_menu li{
	list-style-type: none;
	color: rgba(31, 32, 65, 0.5);
	line-height: 17px;
	margin-right: 30px
}

.main_menu li:hover{
	color: rgba(31, 32, 65, 0.75);
}

.main_menu .active{
	color: rgba(31, 32, 65, 0.75);
	font-weight: bold;
}

.login{
	position: absolute;
	right: 0%;
	margin: 18px 140px 18px 20px;

}

.login a{
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 22px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	display: inline-block;
}

.log{
	padding: 10px 2px 9px 2px;
}

.reg{
	padding:10px 20px 10px 20px;
	margin-left: 20px;
}


.login span{
	color: #BC9CFF;
	background: #fff;
	padding: 8px 20px 7px 20px;
	border-radius: 22px;
}

/*Основаня часть*/
.calendar{
	width: 380px; 
	height: 374px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: relative;
	top: 70px;
	left: 140px;
	padding: 30px;
}

.calendar h2{
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #1F2041;
	margin-top: 10px;
}

.date_cal{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.calendar div p{
	margin-bottom: 6px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	}

.date{
	height: 44px;
	width: 150px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	color: rgba(31, 32, 65, 0.75);
}

.guests select{
	width: 100%;
	padding: 13px 0px 13px 15px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	color: rgba(31, 32, 65, 0.75);
}

.calendar .pick{
	position: relative;
	padding: 14px 18px;
	width: 100%;
	text-transform: uppercase;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	box-shadow:none;
	box-sizing: border-box;
	cursor: pointer;
}

.calendar span:before,
.calendar span:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 90%;
	transform: translate(-20%, -50%);
}

.calendar span:before{
	width: 15px;
	height: 2px;
	background-color: #FFF;
	border-radius: 0px 4px 4px 0px;
}

.calendar span:after{
	width: 10px;
	height: 10px;
	transform: translate(-2%, -50%) rotate(45deg);
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}


/*Подвал сайта*/

footer{
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
	z-index: 8;
}

footer .wrapper{
	justify-content: space-around;
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	display: flex;
	height: 372px;
}

footer .low_menu{
	margin-top: 100px;
	width: 15%;
	display: inline-block;
	float: left;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #1F2041;
}

footer .low_menu h4{
	text-transform: uppercase;
	font-family: Montserrat;
    font-style: normal;
    margin-bottom: 21px;
}

footer .low_menu p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
	font-weight: 500; 
	margin-top: 20px;
	margin-bottom:  20px;
}

footer .low_menu li{
	margin-bottom: 20px;
	list-style-type: none;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	font-weight: 300;
}

footer .low_menu input{
	width: 260px;
	height: 44px;
	padding-left: 15px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
}

footer .subscribe {
	position: relative;
	min-width: 260px;
}

footer .subscribe .arrow{
	position: absolute;
	right: 0;
	margin-top: 12px;
	margin-right:  12px;
}

footer .low_menu:first-child{
	width: 260px;
}

footer .info{
	border-top: 1px solid #E6E6EA;
	justify-content: space-around;
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	display: flex;
	height: 70px;
}
footer .wrapper_low{
	display:block;
	background-color: #fff;
	width: 80%;
}

footer .wrapper_low div{
	display: inline-block;
}

footer .wrapper_low p{
	font-weight: 500;	
	margin-top: 26px;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.75);
}

footer .sochial{
	float: right;
	margin-top: 23px;
}

footer .sochial a{
	margin-left: 20px;
}